:root {
    background: #FFFFFF;
    font-family: 'Inter', serif;
}

.defaultText {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.topBar {
    position: absolute;
    width: 100%;
    height: 77px;
    left: 0px;
    top: 0px;
    background: #DDCEDC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topBar > #malinkaLogo {
    position: absolute;
    left: 2.85%;
    right: 89.1%;
    top: 24.68%;
    bottom: 24.68%;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}

.topBar > #profileBar {
    position: absolute;
    width: 146px;
    height: 38px;
    right: 10%;
    top: 34px;
}

#profileBar > #underscoreBox {
    position: absolute;
    width: 100%;
    top: 84.42%;
    bottom: 6.49%;
    background: #C097C7;
}

#profileBar > #loggedPerson {
    position: absolute;
    width: 100%;
    left: 0%;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 29px;

    color: #000000;
}

.topBar > #logOutButton {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #FAF0F9;
    border: 1px solid #705B6E;
    border-radius: 2px;
}

.topBar > #logOutButton > .vector { /* TODO: add vector itself */
    width: 30px;
    height: 30px;
}

/* LogInButton */
.mainButton {
    box-sizing: border-box;
    background: #AE8DAB;
    border: 1px solid #000000;
    border-radius: 10px;
}

.mainButton > .buttonText {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

/* offer page css */

.offer {
    position: absolute;
    top:500px;
    left:400px;
    width: 848px;
    height: 45px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;

    /* verylightbg */
    background: #F5EEF5;
    /* contrastLow */
    border: 1px solid #C097C7;
    border-radius: 2px;
}

.offer > .elementText {

    min-width: 200px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    padding: 5px;

    color: #000000;
}

.offer > .price {
    position: absolute;
    width: 48px;
    height: 18px;
    left: 896px;
    top: 318px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #000000;
}

.offer > .spacerLine {
    height: 80%;
    width: 0px;

    /* lightStroke */
    border: 1px solid #705B6E;
}

.offer > .inlineButton {
    box-sizing: border-box;

    width: 35px;
    height: 35px;

    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background */
    background: #DDCEDC;
    /* contrastHigh */
    border: 1px solid #955E9E;
    border-radius: 2px;
}

.actionButton {
    box-sizing: border-box;

    position: absolute;
    width: 150px;
    height: 46px;
    top: 150px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
    /* background */
    background: #DDCEDC;
    /* contrastHigh */
    border: 1px solid #955E9E;
    border-radius: 2px;
}

.actionButton > div {

    flex-grow: 10;

    font-family: 'Inter';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

    color: #000000;
}

.actionButton > .vector {
    padding: 10px;
}

/* Add offer */

.windowRectangle {
    box-sizing: border-box;

    position: absolute;
    width: 1000px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: #DDCEDC;
    border: 1px solid #000000;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.windowRectangle > #windowTitle {
    position: absolute;
    left:50%;
    top:5%;
    transform: translate(-50%, -50%);
    font-size: 36px;
}

.iconButton {
    box-sizing: border-box;

    position: absolute;
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #955E9E;
    border: 1px solid #4E2954;
    border-radius: 2px;
}

.list {
    width: 400px;
    height: 450px;
    background: #F5EEF5;
    border: 1px solid #C097C7;
    border-radius: 2px;
}

.smallIconButton {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #DDCEDC;
    border: 1px solid #955E9E;
    border-radius: 2px;
}

.listInputBox {
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;

    box-sizing: border-box;

    background: #FAF0F9;
    border: 1px solid #705B6E;
    border-radius: 2px;

}

.listElement {
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;

    box-sizing: border-box;

    background: #FAF0F9;
    border-bottom: 1px solid #705B6E;

}