<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{manager_fragments :: header('Oferty')}">
</head>
<body>
    <div th:replace="~{manager_fragments :: top_bar}"></div>
    <a th:href="@{~/manager}" class="actionButton">
        <img class="vector" th:src="@{~/images/manager_back.svg}" alt="back" />
        <div>Powrót</div>
    </a>

    <a th:href="@{~/manager/offer/add}" class="actionButton" style="left: 300px;">
        <img class="vector" th:src="@{~/images/manager_add.svg}" alt="back" />
        <div>Dodaj ofertę</div>
    </a>

    <div class="offer">
        <div class="elementText">Czekolada</div>
        <div class="spacerLine" style="position: absolute; left: 30%"></div>
        <div class="elementText" style="position: absolute; left: 30%">Promocja czekolada 20%</div>
        <div class="spacerLine" style="position: absolute; left: 75%"></div>
        <div class="elementText" style="position:absolute; left:75%; min-width: 50px">10,00 zł</div>
        <div class="spacerLine" style="position:absolute; right:11%"></div>

        <div class="inlineButton" style="position:absolute; right: 6%">
            <img th:src="@{~/images/manager_edit.svg}">
        </div>

        <div class="inlineButton" style="position:absolute; right: 1%">
            <img th:src="@{~/images/manager_delete.svg}">
        </div>

    </div>
</body>
</html>