<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Sklep Malinka - ekran menadżera</title>
    <meta name="description" content="Strona internetowa sklepu Malinka">
    <meta name="author" content="Gabriel Urbaniak">

    <link th:href="@{/css/manager.css}" rel="stylesheet" />

</head>
<body>
    <div class="topBar">
        <span id="malinkaLogo"> Malinka </span>
    </div>
</body>
</html>